<a href="https://colab.research.google.com/github/Dm2998/Book-a-Room-/blob/main/Week_3_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis Y3- Week 3 Lab
# Ecommerce Purchases



*   In this lab you will be given some Fake Dataset about some purchases donethrough Amazon!  
*   Follow the instructions and try your best to answer the questions and complete the lab


*   This lab will be graded druing the lab hours, you will spend 1hr to 1.5hr to answer the qusetions, then we will go through and grade each student.

# New Section

1. **Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [7]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv("v3.csv")

2**. Check the head of the DataFrame.**

In [17]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**3. How many rows and columns are there?**

In [18]:
data.shape

(10000, 14)

**4. What is the average Purchase Price?**

In [22]:
data['Purchase Price'].mean()

50.347302

**`5. What were the highest and lowest purchase prices? `**

In [23]:
data['Purchase Price'].max()

99.99

In [24]:
data['Purchase Price'].min()

0.0

**6. How many people have English 'en' as their Language of choice on the website?**

In [30]:
data['Language'].value_counts()['en']

1098

**7. How many people have the job title of "Lawyer" ?**

In [35]:
data['Job'].value_counts()['Lawyer']

30

8. **How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [36]:
data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**9. What are the 5 most common Job Titles?**

In [37]:
data['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

**10. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [44]:
data[data["Lot"]=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

**11.What is the email of the person with the following Credit Card Number: 4926535242672853**

In [43]:
data[data["Credit Card"] == 4926535242672853]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

**12. How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

In [46]:
data[(data['CC Provider'] == 'American Express') & (data['Purchase Price'] > 95)]['Purchase Price'].count()

39

**Make sure to submit your lab via Moodle**